@namespace UIElements


 <label class="switch">
                        <input type="checkbox" checked=@IsCompleted @onchange="@((arg) => Callback.InvokeAsync((bool)arg.Value))">
                        <span class="slider round"></span>
                    </label>

@code {
    [Parameter] public EventCallback<bool> Callback { get; set; }
    
    [Parameter]
    public bool IsCompleted { get; set; }
    
    
}